##                            Session 8: Assignment 1

1) How-to-count-distance-to-the-previous-zero

For each value, count the difference of the distance from the previous zero (or the start
of the Series, whichever is closer) and if there are no previous zeros,print the position

Consider a DataFrame df where there is an integer column {'X':[7, 2, 0, 3, 4, 2, 5, 0, 3, 4]}

The values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. 

Make this a new column 'Y'.

import pandas as pd

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:

df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
x = (df['X'] != 0).cumsum()
y = x != x.shift()

df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

x = (df['X'] != 0).cumsum()
y = x != x.shift()

df['Y'] = y.groupby((y != y.shift()).cumsum()).cumsum()

print(df)

   X    Y
0  7  1.0
1  2  2.0
2  0  0.0
3  3  1.0
4  4  2.0
5  2  3.0
6  5  4.0
7  0  0.0
8  3  1.0
9  4  2.0

2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers

In [26]:
datetimeindex = pd.date_range(start='2015-01-01', end='2015-12-31')
s = pd.Series(np.random.rand(len(datetimeindex)),index=datetimeindex)
s= pd.DataFrame(s)
s.reset_index(inplace = True)
s.columns = ['date', 'num']
print(s)

          date       num
0   2015-01-01  0.716090
1   2015-01-02  0.738787
2   2015-01-03  0.363841
3   2015-01-04  0.731231
4   2015-01-05  0.991213
5   2015-01-06  0.949944
6   2015-01-07  0.057989
7   2015-01-08  0.481392
8   2015-01-09  0.797441
9   2015-01-10  0.113644
10  2015-01-11  0.392112
11  2015-01-12  0.099979
12  2015-01-13  0.846161
13  2015-01-14  0.434164
14  2015-01-15  0.457392
15  2015-01-16  0.412334
16  2015-01-17  0.014135
17  2015-01-18  0.921300
18  2015-01-19  0.011247
19  2015-01-20  0.442402
20  2015-01-21  0.099980
21  2015-01-22  0.263800
22  2015-01-23  0.963714
23  2015-01-24  0.836315
24  2015-01-25  0.473116
25  2015-01-26  0.341466
26  2015-01-27  0.303641
27  2015-01-28  0.511090
28  2015-01-29  0.027203
29  2015-01-30  0.017627
..         ...       ...
335 2015-12-02  0.829564
336 2015-12-03  0.568747
337 2015-12-04  0.142536
338 2015-12-05  0.440754
339 2015-12-06  0.576932
340 2015-12-07  0.331941
341 2015-12-08  0.352491
342 2015-12-09  0.650192
343 2015-12-10  0.680437
344 2015-12-11  0.718458
345 2015-12-12  0.534249
346 2015-12-13  0.112568
347 2015-12-14  0.616534
348 2015-12-15  0.704421
349 2015-12-16  0.307706
350 2015-12-17  0.828960
351 2015-12-18  0.383870
352 2015-12-19  0.896187
353 2015-12-20  0.053387
354 2015-12-21  0.709732
355 2015-12-22  0.953916
356 2015-12-23  0.678891
357 2015-12-24  0.366069
358 2015-12-25  0.123043
359 2015-12-26  0.214360
360 2015-12-27  0.112987
361 2015-12-28  0.452674
362 2015-12-29  0.648062
363 2015-12-30  0.392457
364 2015-12-31  0.031439

[365 rows x 2 columns]

3) Find the sum of the values in s for every Wednesday

In [63]:
s['weekday'] = s.apply(lambda x : x['date'].weekday_name ,axis = 1)
wk = s.groupby(['weekday'])['num'].agg(sum)
print(wk)

weekday
Friday       24.615273
Monday       29.576815
Saturday     27.521398
Sunday       25.236548
Thursday     25.576354
Tuesday      27.088881
Wednesday    23.559428
Name: num, dtype: float64

C:\Users\meenakshi313290\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: `weekday_name` is deprecated and will be removed in a future version. Use `day_name` instead
  """Entry point for launching an IPython kernel.

4) Average For each calendar month

In [80]:
s['month'] = s.apply(lambda x : x['date'].month, axis = 1)
month_mean = s.groupby(['month'])['num'].mean()
print(month_mean)

month
1     0.475750
2     0.460786
3     0.541818
4     0.405381
5     0.486590
6     0.506238
7     0.542880
8     0.537707
9     0.545440
10    0.587678
11    0.429335
12    0.494702
Name: num, dtype: float64

5) For each group of four consecutive calendar months in s, find the date on which the highest value occurred.

In [87]:
s['quarter'] = s.apply(lambda x : x['date'].quarter, axis = 1)
s.groupby(['quarter'])['num'].idxmax()
s.loc[s.groupby(['quarter'])['num'].idxmax()]

          date       num weekday  month  quarter
4   2015-01-05  0.991213  Monday      1        1
179 2015-06-29  0.962799  Monday      6        2
213 2015-08-02  0.990561  Sunday      8        3
295 2015-10-23  0.965110  Friday     10        4